<div class="container mt-5">
  <!-- Category Dropdowns -->
  <div class="row dropdown mx-auto">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Category
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Category 1</a></li>
      <li><a class="dropdown-item" href="#">Category 2</a></li>
      <li><a class="dropdown-item" href="#">Category 3</a></li>
    </ul>
  </div>
  <!-- Total Amonunt Counter -->
  <div class="mt-3 text-center">
    <a>Total Amount: </a>
    <a>25000</a>
  </div>
  <!-- Record Table -->
  <table class="table table-striped mt-5">
    <tbody>
      {{#each records}}
      <tr>
        <th class="align-middle" scope="row"><i class="{{this.categoryId}}"></i></th>
        <td>{{this.name}}<br>{{this.date}}</td>
        <td class="align-middle">{{this.amount}}</td>
        <td class="align-middle"><a href="/expense/{{this._id}}/edit" >修改</a></td>
        <td class="align-middle">
          <form action="/expense/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <!-- Add Expense Button -->
  <div class="row text-center">
    <a href="/expense/new" type="button" class="btn btn-primary mt-3" >Add Expense</a>
  </div>
</div>